:root {
  --form-border-color: #d0d9d4;
  --green-color: #36b37e;
  --white-color: #fff;
  --button-hover-color: #7ebfa3;
  --content-text-color: #42526e;
  --button-active-color: #008552;
}

body {
  margin: 0;
  padding: 0;
}

/* .nav-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
} */

.mobile-menu {
  width: 100%;
  position: fixed;
  left: -100%;
  
  /* padding-right: 30px; */
  padding-top: 20px;
  background: var(--white-color);
}

.mobile-menu.active {
  left: 0;
}

.desktop-menu {
  display: none;
}

.first-intro {
  background-image: url(Icon/header-illsutration-mobile@2x.png);
  background-size: 93%;
  background-position: bottom -4px right;
  background-repeat: no-repeat;
  margin-top: 45px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 18%;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 3px;
}

.intro .intro2 {
  color: #36b37e;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.text {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding: 10px 10px 0 10px;
  margin-top: 1%;
  margin-bottom: 0;
}

span {
  display: block;
}

/* .icon-section {
  padding: 0;
} */
.icon {
  display: flex;
  justify-content: center;
}

.social {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 15px;
  align-items: center;
}

.social li {
  list-style: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.down-arrow {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.heading1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading1 .heading {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 2%;
  width: 87.2%;
}

.indicator img {
  width: 48px;
  height: 4px;
  border-radius: 24px;
  margin-top: 35%;
  margin-bottom: 100%;
}

.main-container {
  display: grid;
  justify-content: flex-end;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  row-gap: 0.5%;
}

.card {
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  width: 327px;
  height: 474px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin-left: 6%;
  margin-bottom: 2%;
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 8px;
  max-height: 222px;
}

.project-title {
  text-align: center;
  margin: 3%;
  padding: 0 1%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.tag {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 7%;
}

.tag li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
  padding: 2% 3.8%;
  margin-top: 4%;
}

.btn-container {
  width: 100%;
  text-align: center;
}

.btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  width: 122px;
  height: 48px;
  letter-spacing: 0.03em;
  background: #36b37f;
  border: none;
  border-radius: 4px;
  border-color: #fff;
  text-align: center;

  /* margin-left: 29%; */
  margin-bottom: 7%;
}

.btn:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn:active {
  background: #008552;
}

.abt-me {
  background-image: url(Icon/illustration\ 2-about\ me\ mobile.png), url(Icon/illustration\ 1-\ about\ me-mobile.png);
  background-size: 18%, 18%;
  background-position: 0% 90%, 100% 0%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 8%;
}

.head-abt-me {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
}

.txt-abt-me {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #42526e;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 2%;
}

.btn-project {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  width: 153px;
  height: 48px;
  letter-spacing: 0.03em;
  background: #36b37f;
  border: none;
  border-radius: 4px;
  border-color: #fff;
  text-align: center;
  margin-bottom: 10%;
}

.btn-project:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn-project:active {
  background: #008552;
}

.resume-container {
  display: grid;
  justify-content: flex-end;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  row-gap: 0.5%;
  padding-left: 6%;
}

.resume-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 327px;
  height: 316px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin-bottom: 4%;
  margin-top: 2%;
}

.resume-items img {
  margin: 0;
}

.item-head {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #344563;
  margin-top: 0;
  margin-bottom: 8%;
}

.item-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  flex-direction: row;
  align-items: center;
  width: 85%;
  gap: 8px;
}

.item-content li {
  padding: 3% 2.5%;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #36b37e;
}

/* contact section */
.contact-section {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

hr {
  display: none;
}

.icon-section {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.end-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #172b4d;
  padding: 0 5%;
}

/* FORM COMPONENT */
.email-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.form-container {
  align-items: center;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  display: none;
}

textarea {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--white-color);
  border: 1px solid #60c095;
  border-radius: 4px;
  resize: none;
  height: 200px;
}

.form-group input {
  box-sizing: border-box;
  position: inherit;
  width: 100%;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  background: var(main-background-color);
  color: #3c3c3c;
  transition: border-color 0.3s ease-in-out;
}

.form-group textarea {
  box-sizing: border-box;
  position: inherit;
  width: 100%;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  background: var(main-background-color);
  color: #3c3c3c;
  transition: border-color 0.3s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--green-color);
}

.form-btn {
  background-color: var(--green-color);
  color: var(--white-color);
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.form-btn:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.form-btn:active {
  background: #008552;
}

.contact-form .form-btn {
  box-sizing: border-box;
  position: inherit;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 129px;

  /* padding: 12px 20px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  background: var(--green-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
}

.contact-image {
  background-image: url(./images/form-bg.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: right 0;
  height: 300px;
  width: 100%;
  border-radius: 10px;

  /* margin-left: 20px; */
  margin-top: -220px;
}

.email-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--content-text-color);
}

/* contact section- END */

/* DOM-mobile */

/* .mobile-menu {
  display: none;
  margin-top: 20px;
} */

/* #closeButton {
  display: none;
  float: right;
  text-decoration: none;
  border: 2px solid #67798E;
  border-radius: 0px;
  font-size: 28px;
  margin-right: 28px;
  margin-top: 16px;
  border: none;
} */
.mobile-menu ul {
  display: block;
  width: 100%;
  height: 100vh;
  padding: 0;
}

.mobile-menu ul li {
  list-style-type: none;
  padding-bottom: 20px;
  padding-left: 28px;
}

.mobile-menu ul li a {
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.hamburger-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 9999;
}

.hamburger {
  display: block;

  /* z-index: 200; */
  position: fixed;
  top: 3%;
  right: 8%;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: var(--content-text-color);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.disable-scroll {
  overflow: hidden;
}

/* Media Queries for Mobile Version */
@media only screen and (min-width: 375px) {
  .contact-form .contact-btn {
    width: 50%;
  }

  .contact-form {
    padding: 10px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 14px;
    line-height: 20px;
  }
}

/* Media Queries for Desktop Version */
@media only screen and (min-width: 768px) {
  /* .nav-container {
    justify-content: center;
  } */
  .navbtn {
    text-align: center;
    width: 100%;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
    justify-content: center;
    padding: 0;
  }

  .desktop-menu li {
    list-style-type: none;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 133%;
    padding: 0 1%;

    /* display: flex;
    align-items: center;
    text-align: center; */
  }

  .desktop-menu li a {
    color: #344563;
    text-decoration: none;
  }

  .desktop-menu li a:hover {
    color: #7ebfa3;
  }

  .desktop-menu li a:active {
    color: #008552;
  }

  /* First intro section start */
  .first-intro {
    background-image: url(Icon/Header-llustration-desktop@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
  }

  .intro h1 .intro-mobile {
    display: none;
  }

  .intro h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.37px;
  }

  .intro .intro2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.37px;
  }

  .text {
    line-height: 32px;
    padding: 0 20%;
  }

  .down-arrow {
    margin-top: 2%;
    margin-bottom: 0;
    padding-bottom: 30%;
  }

  /* First intro section End */

  /* Recent Work Section Start */
  .indicator img {
    display: none;
  }

  .main-container {
    display: grid;
    justify-content: center;

    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */

    /* padding: 0 14%; */
    grid-template-columns: 369px 369px 369px;
    grid-template-rows: 474px 474px;
    row-gap: 32px;
    column-gap: 24px;
  }

  .card {
    margin: 0;
    width: 369px;
    height: 100%;
  }

  .tag {
    justify-content: center;
    padding: 0;
    gap: 8px;
  }

  .tag li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    background: #ebf0ee;
    border-radius: 4px;
  }

  /* Recent Work Section End */

  /* About Me Section Start */

  /* About Me */
  .abt-me {
    background-image: url(Icon/illustration-about-me-2-desktop.png), url(Icon/illustration-about\ me-1-desktop.png);
    background-size: 18%, 18%;
    background-position: 0% 85%, 100% 0%;
    margin-top: 8%;
    margin-bottom: 1%;
    padding-top: 7.5%;
  }

  .head-abt-me {
    margin-bottom: 1%;
  }

  .txt-abt-me {
    margin-top: 1%;
    padding: 0 24%;
  }

  .btn-project {
    border: none;
    margin-bottom: 2%;
  }

  /* Resume list */
  .resume-container {
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 0 10%;
    column-gap: 1%;
    margin-bottom: 3%;
  }

  .resume-items {
    width: 97%;
    height: 316px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* About Me Section End */

  /* Contact Section Start */
  .contact-section {
    flex-direction: row;
    padding-bottom: 20%;
    padding-left: 15%;
    padding-right: 15%;
    background-image: url(Icon/Frame-1.png), url(Icon/illustration-2-contact-form-desktop.png), url(Icon/Frame2.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0% 90%, 25% 75%, 100% 100%;
    background-size: 13%, 10%, 15%;
  }

  .end-text {
    font-size: 30px;
    line-height: 173%;
    padding: 0;
    width: 60%;
  }

  .contact-form {
    max-width: 800px;
    width: 100%;
  }

  input[type="submit"],
  .form-btn {
    padding: 12px;
  }

  .form-group .form-btn {
    margin: 0;
    align-items: flex-start;
  }

  .form-btn:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .form-btn:active {
    background: #008552;
  }

  .email-container {
    display: none;
  }

  hr {
    display: block;
    height: 1px;
    background-color: #dfe1e6;
  }

  .icon-section {
    padding: 0;
  }

  .icon {
    width: 100%;
  }

  .social {
    gap: 25%;
  }

  .contact-image {
    display: none;
  }

  /* DOM */

  .hamburger-container {
    display: none;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
}
